# Python artifacts
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Directories for user data and trained models
trainingSessions/

# Logs
*.log

#checksum
# create new command:
# sha256sum main.py > checksum.txt
checksum.txt

# virtual environment
venv/